<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="">
<meta name="description" content="" />
<meta name="keywords" content=", blog" />
<meta name="robots" content="noodp" />
<meta name="theme-color" content="" />
<link rel="canonical" href="https://kafka-esc.com/--resources/templates/blog/" />



    <title>
        
             :: [KafkaEsc] 
        
    </title>



<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet"
    type="text/css">



<link rel="stylesheet" href="/main.8f3fd8f14a1cc32b54de4b1ee31cf5c5391d167ecd3fc092f3d4e0a342bb258f.css">




    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="">
    <meta name="theme-color" content="">




  <meta itemprop="name" content="[KafkaEsc]">
  <meta itemprop="description" content="Nice theme for homepages and blogs">
  <meta itemprop="dateModified" content="2024-09-04T22:11:23+00:00">
  <meta itemprop="image" content="https://kafka-esc.com/">
  <meta itemprop="keywords" content="Blog">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://kafka-esc.com/">
  <meta name="twitter:title" content="[KafkaEsc]">
  <meta name="twitter:description" content="Nice theme for homepages and blogs">



    <meta property="og:url" content="https://kafka-esc.com/--resources/templates/blog/">
  <meta property="og:site_name" content="[KafkaEsc]">
  <meta property="og:title" content="[KafkaEsc]">
  <meta property="og:description" content="Nice theme for homepages and blogs">
  <meta property="og:locale" content="en">
  <meta property="og:type" content="article">
    <meta property="article:section" content="💡--resources">
    <meta property="article:modified_time" content="2024-09-04T22:11:23+00:00">
    <meta property="article:tag" content="Blog">
    <meta property="og:image" content="https://kafka-esc.com/">




    <meta property="article:section" content="blog" />



    <meta property="article:published_time" content="2024-09-04 22:11:23 &#43;0000 UTC" />









    </head>

    
        <body>
    
    
        <div class="container">
            <header class="header">
    <span class="header__inner">
        <a href="/" style="text-decoration: none;">
    <div class="logo">
        
            <span class="logo__mark"> </span>
            <span class="logo__text">/home/KafkaEsc</span>
            <span class="logo__cursor" style=
                  "visibility:hidden;
                   background-color:#67a2c9;
                   animation-duration:3s;">
            </span>
        
    </div>
</a>


        <span class="header__right">
            
                <nav class="menu">
    <ul class="menu__inner">
                <li><a href="/about/">About</a></li>
                <li><a href="/posts/">Posts</a></li>
                <div class="submenu">
                    <li class="dropdown">
                        <a href="/categories/" class="dropbtn">Resources</a>
                        <label class="drop-icon" for="Resources">▾</label>
                        <div class="dropdown-content">
                                
                                    <a title="Write Ups" href="/categories/writeups/">Write Ups</a>
                                
                                    <a title="Tutorials" href="/categories/tutorials/">Tutorials</a>
                                
                                    <a title="Cheatsheets" href="/categories/cheatsheets/">Cheatsheets</a>
                                
                        </div>
                    </li>
                </div>
    </ul>
</nav>

                <span class="menu-trigger">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
                    </svg>
                </span>
            
                <span class="theme-toggle not-selectable"><svg class="theme-toggler" width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M22 41C32.4934 41 41 32.4934 41 22C41 11.5066 32.4934 3 22
   3C11.5066 3 3 11.5066 3 22C3 32.4934 11.5066 41 22 41ZM7 22C7
   13.7157 13.7157 7 22 7V37C13.7157 37 7 30.2843 7 22Z"/>
 </svg></span>
        </span>
    </span>
</header>


            <div class="content">
                
    <main class="post">

        <div class="post-info">
            
            </p>
        </div>

        <article>
            <h2 class="post-title"><a href="https://kafka-esc.com/--resources/templates/blog/"></a></h2>

            
            
            

            <div class="post-content">
                
            </div>
        </article>

        

        <div class="post-info">
            
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>

        <span class="tag"><a href="https://kafka-esc.com/tags/blog/">blog</a></span>
        
    </p>

            
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder meta-icon"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>

        <span class="tag"><a href="https://kafka-esc.com/categories/blog/">blog</a></span>
        
    </p>

  		</div>
    </main>

            </div>

            
                <footer class="footer">
    
    
    <div class="footer__inner">
        <div class="footer__content">
            <span>V2UncmUgYWxsIG1hZCBoZXJlLgo=</span>
        </div>
    </div>
    
</footer>

            
        </div>

        

//
//
<script type="text/javascript" src="/bundle.min.403518d1865dace09cc9901ef81affda9f0f5bca7fe38d1bea6f704bf8331f4daf4a028854578f5e3109d8ea1680903743858ec1238aa4c0e229f9ca25bb3167.js" integrity="sha512-QDUY0YZdrOCcyZAe&#43;Br/2p8PW8p/440b6m9wS/gzH02vSgKIVFePXjEJ2OoWgJA3Q4WOwSOKpMDiKfnKJbsxZw=="></script>



    </body>
</html>
